article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display:block}
mark, rp, rt, ruby, summary, time { display:inline}
* { margin: 0; padding: 0; line-height: 1.125;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: rtl;
}
html{
    width: 100%;
    position: relative;
}
body{
    font: 400 100% 'Roboto', sans-serif;
    color: #ffffff;
    min-width: 1000px;
    width: 100%;
    position: relative;
    background: #ffffff;
}
p{ margin: 0;}
a{color: #2a964b;}
a:hover{ text-decoration: none;}

.img-box{line-height: 0;}
img{ border: none;max-width: 100%}
ul{list-style: none; margin: 0; padding: 0;}
ul li{display: block}
.cl{
    clear: both !important;
    font-size: 0;
    height: 0;
    zoom: 1;
}

.text-uppercase{text-transform: uppercase;}

.floatL{float: left;}
.floatR{float: right;}

header,footer,
.main{
    width: 100%;
    position: relative;
}
.wrapper{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}
.content {
    padding-right: 15px;
    padding-left: 15px;
}
.block{
    position: relative;
}
.block .content{
    width: 1000px;
    position: relative;
    margin: auto;
    clear: both !important;
}
.block .title{
    background: url(../img/fon-title.png) no-repeat 50% 50%;
    padding: 38px 5px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    position: relative;
    top: -10px;
    z-index: 2;
    height: 117px;
    width: 1268px;
    margin-right: -134px;
}



/*------------------------------------ block1 */
.block1 {
    background: url(../img/block1.jpg) no-repeat 50% 0;
}
.block1 .content{
    height: 650px;
}

.counter{
    position: relative;
    background: url(../img/counter.png) no-repeat 50% 0;
    width: 430px;
    height: 167px;
    padding: 5px 75px;
    margin-left: 40px;
}
.counter-title{
    text-transform: uppercase;
    color:#fff;
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 11px;
}
.counter span{
    display: block;
    position: relative;
    float: left;
    background: url(../img/count.png) no-repeat 50% 0;
    text-align: center;
    color: #3d3d3d;
    font-size: 40px;
    width: 85px;
    height: 62px;
    margin-right: 11px;
    padding-top: 8px;
    padding-left: 11px;
    letter-spacing: 19px;
    direction: ltr;
}
.counter span:last-of-type{
    margin-right: 0;
}
.counter .hours:after,
.counter .minutes:after{
    content: ':';
    display: block;
    position: absolute;
    right: -10px;
    top: 2px;
    color: #ffffff;
    font-size: 45px;
    width: 10px;
}
.counter-bottom{
    color:#fff;
    font-size: 28px;
    text-align: center;
    margin-top: 18px;
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
}

.logo{
    float: left;
    position: relative;
    top: 35px;
    right: 0px;

}
.people1 {
    position: absolute;
    top: 115px;
    left: 0;
    z-index: 2;
}

.price{
    margin: 25px 20px 25px  0px;
    width: 330px;
    text-align: center;
}
.price span{
    color: #ff0046;
    font-size: 36px;
    display: inline-block;
}
.price .old-price{
    color: #d2d2d2;
    font-size: 28px;
    margin-right: 10px;
    text-decoration: line-through;
}
.prod1{
    display: block;
    margin: -68px 0 10px 48px;
}


.btn-pink{
    display: block;
    position: relative;
    top: -90px;
    left: -65px;
    width: 283px;
    background: url(../img/button.png) no-repeat 50% 0;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
    padding: 27px 5px 52px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
    cursor: pointer;
    outline: none;
}
.btn-pink:hover{
    background: url(../img/button_hover.png) no-repeat 50% 0;
}
/* end block1 */


/*-------------------------------- block2 */
.block2{
    background: url(../img/block2.jpg) no-repeat 50% 0;
}
.block2 .content{
    height: 924px;
    padding-top: 47px;
}
.block2 .title{
    font-size: 30px;
    top: 0;
    padding-top: 43px;
}
.block2 .left{

    width: 57%;
    margin-left: 25px;
}
.quote-director{
    width: 440px;
    margin: -19px auto 10px;
}
.quote-director img{}
.quote-director .quote-content{
    background: url(../img/fon-quote-director.png) no-repeat 50% 50%;
    width: 440px;
    height: 128px;
    margin-top: -90px;
    position: relative;
    padding: 9px 15px;
}
.quote-director .quote-content .name{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 18px;
}
.quote-director .quote-content .text-quote{
    font-size: 15px;
    font-weight: 300;
}
.block2 .left .mini-text{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}


.block2 .right{
    float: left;
    width: 39%;
    margin-top: 7px;
}
.block2 .right .text-top{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.25;
}
.block2 .right .text-top span{
    font-weight: 300;
}
.diagram1{
    background: url(../img/diagram-block2.png) no-repeat 0 0;
    width: 341px;
    height: 595px;
    position: relative;
    margin-top: 32px;
    float: right;
}
.text-diagram1{
    position: absolute;
    bottom: 50px;
    width: 85px;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 500;
    text-align: center;
}
.diagram1 .text-col1{
    left: 55px;
}
.diagram1 .text-col2{
    right: 82px;
}
.diagram1 .legend-bottom{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
/* end block2 */

/*---------------------------------- block3 */
.block3{
    background: url(../img/block3.jpg) no-repeat 50% 0;
}
.block3 .content{
    height: 539px;
}
.doctor-b3{
    position: absolute;
    bottom: -46px;
    right: -135px;
    width: 60%;

}
.quote-b3{
    background: url(../img/quote-b3.png) no-repeat 0 0;
    width: 553px;
    height: 376px;
    float: left;
    margin-top: 15px;
    padding: 30px;
}
.quote-b3 p{
    font-size: 20px;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 15px;
}
p.text-red{
    color: #c13445;
}

/* end block3 */

/*------------------------------ block4 */
.block4{
    background: url(../img/block4.jpg) no-repeat 50% 0;
}
.block4 .content{
    height: 445px;
}
.block4 .title{
    background: url(../img/fon-title-b4.png) no-repeat 50% 50%;
}
.harmful-factors{
    position: relative;
    overflow: hidden;
    width: 900px;
    margin: -10px auto 20px;
    
}
.harmful-factors-item{
    width: 180px;
    float: left;
}
.harmful-factors-item img{
    position: relative;
    display: block;
    margin: 0 auto;
}
.harmful-name{
    width: 134px;
    height: 122px;
    padding: 40px 10px 0;
    background: rgba(0,0,0,.6);
    margin: -53px auto 0;
}
.harmful-name span{
    font-size: 20px;
    font-weight: 300;
    height: 82px;
    width: 114px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.text-bottom{
    width: 489px;
    margin: 0 auto;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 300;
    background: url(../img/text-bottom-b4.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    text-align: center;
}

/* end block4 */

/*--------------------------------- block5 */
.block5{
    background: url(../img/block5.jpg) no-repeat 50% 0;
}
.block5 .content{
    height: 771px;
}
.b5-list{
    display: block;
    width: 970px;
    margin: 25px auto 0;
    list-style: none;
}
.b5-item{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 45px;
}
.b5-item.img-right{
    background: url(../img/line-dashed.png) no-repeat 50% 100%;
    margin-bottom: 45px;
}
.b5-item img{
    float: right;
}
.block-desc{
    width: 315px;
    padding: 15px 25px;
    margin:0 18px;
    float: left;
}
.block-desc.black{
    background: #202020 url(../img/miniLine-red.png) no-repeat 0 30px;
    margin-top: 5px;
    float: right;
}
.block-desc.red{
    background: #ae2636 url(../img/miniLine-black.png) no-repeat 0 30px;
    margin-top: 13px;
}
.block-desc .title-desc{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
}
.block-desc p{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

/* end block5 */

/*-------------------------------- block6 */
.block6{
    background: url(../img/block6.jpg) no-repeat 50% 0;
}
.block6 .content{
    height: 621px;
}
.prod2{
    position: absolute;
    bottom: 15px;
    left: 314px;
    display: block;
}
.plus-product{

}
.item-plus{
    position: absolute;
    min-width: 319px;
    min-height: 319px;
    background: url(../img/ball.png) 50% 0;
}
.item-plus img{
    display: block;
    margin: 108px auto 0px;
}
.item-plus p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.plus1{
    top: 20px;
    left: 71px;
}
.plus2{
    top: 189px;
    left: -12px;
}
.plus3{
    top: 357px;
    left: 89px;
}
.plus4{
    top: 19px;
    right: 62px;
}
.plus5{
    top: 190px;
    right: -19px;
}
.plus6{
    top: 356px;
    right: 80px;
}
/* end block6 */

/* block7 */
.block7{
    background: url(../img/block7.jpg) no-repeat 50% 0;
}
.block7 .content{
    height: 613px;
}
.list-b7{
    margin-left: 25px;
    display: block;
    list-style: none;
    width: 370px;
    float: right;
    z-index: 2;
    position: relative;
}
.list-b7 li{
    display: block;
    margin-bottom: 30px;
}
.list-b7 .ico{
    background: url(../img/ico-calendar.png);
    width: 58px;
    height: 60px;
    margin-top: 0px;
    float: right;
    font-size: 32px;
    color: #c13445;
    text-align: center;
    padding-top: 21px;
}
.list-b7 .desk-b7{
    margin-right: 80px;
}
.list-b7 p{
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.list-b7 p .text-red{
    color: #c13445;
}
.list-b7 p.text-light{
    font-weight: 300;
}

.girl-b7{
    position: absolute;
    bottom: 0;
    
}

.about-producer{
    width: 341px;
    height: 437px;
    padding: 18px 25px;
    border: 3px solid #ffffff;
    float: left;
    margin-right: 35px;

}
.about-producer .about-title{
    color: #3d3d3d;
    font-size: 19px;
    font-weight: 500;
    background: url(../img/line-red.png) no-repeat 50% 100%;
    padding-bottom: 18px;
    margin-bottom: 25px;
    margin-top: 10px;
    text-align: center;
}
.about-producer p{
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;

}


    /* end block7 */

/* block8 */
.block8{
    background: url(../img/block8.jpg) no-repeat 50% 0;
}
.block8 .content{
    height: 740px;
}
.block8 .text-top{
    width: 830px;
    margin: 10px auto 50px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.new-plus{
    background: url(../img/fon-new-plus.png) no-repeat 50% 0;
    width: 899px;
    height: 416px;
    margin: 0 auto;
    padding: 15px 35px;
}
.newPlus-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 18px;
    text-align: center;
}
.newPlus-list li{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
    padding-right: 65px;
    min-height: 38px;
    position: relative;
    padding-top: 5px;
}
.newPlus-list img{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -19px;
}
.block8 .btn-pink{
    position: absolute;
    top: inherit;
    bottom: -65px;
    left: 50%;
    margin-left: -141px;
}
/* end block8 */

/*--------------------------------- block9 */
.block9{
    background: url(../img/block9.jpg) no-repeat 50% 0;
}
.block9 .content{
    height: 650px;
    padding-top: 60px;
}
.ingredients{

}
.ingredients-item{
    float: left;
    width: 25%;
    text-align: center;
}
.ingredients-item img{
    display: block;
    margin: -20px 0 -15px;
}
.ingredients-item .name{
    display: block;
    position: relative;
    margin: 0 auto 25px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}
.ingredients-item .name:after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #c13b3e;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}
.ingredients-item .desc{
    font-size: 16px;
    font-weight: 300;
    padding: 0 20px;
}
/* end block9 */

/*------------------------------------ block10 */
.block10{
    background: url(../img/block10.jpg) no-repeat 50% 0;
}
.block10 .content{
    height: 872px;
}
.block10 .title{
    background: url(../img/fon-title-b10.png) no-repeat 0 0;
    width: 687px;
    height: 142px;
    float: left;
    clear: right;
    margin-left: -80px;
    font-size: 36px;
    text-align: right;
    padding-right: 151px;
    padding-top: 35px;
    line-height: 1;
    top: 0;
}
.block10 .title span{
    display: block;
    padding-left: 135px;
    line-height: 1;
}
.people-b10{
    position: absolute;
    bottom: -47px;
    right: -18px;

}
.block10 .text-top{
    background: url(../img/b10-text.png) no-repeat 0 0;
    width: 399px;
    height: 91px;
    padding: 15px 20px 15px 30px;
    float: left;
    clear: left;
    left: 80px;
    margin-top: -10px;
    margin-bottom: 30px;
    position: relative;
    font-size: 20px;
    font-weight: 300;
    color: #333;
}
.block10 ul{
    width: 370px;
    float: left;
    clear: left;
    left: 83px;
    position: relative;
}
.block10 li{
    display: block;
    margin-bottom: 20px;
}
.block10 .img-box{
    position: relative;
    float: right;
    width: 125px;
    height: 125px;
    margin-left: 15px;
}
.block10 .img-box img{
    display: block;
    position: absolute;
    top:0;
    left:0;
}
.block10 .img-box p{
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 36px;
    color: #5d5d5d;
    text-transform: uppercase;
    text-align: center;

    display: table-cell;
    width: 125px;
    height: 125px;
    vertical-align: middle;
}
.block10 li .text{
    display: table-cell;
    width: 230px;
    height: 125px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 300;
    color: #3d3d3d;
}

/* end block10 */

/*------------------------------ block11 */
.block11{
    background: url(../img/block11.jpg) no-repeat 50% 0;
}
.block11 .content{
    height: 842px;
}

.scheme{
    position: relative;
    height: 325px;
    background: url(../img/scale.png) no-repeat 50% 247px;
    margin-top: -10px;
}
.step-item{
    float: left;
    width: 33%;
}
.step-item img{
    display: block;
    margin: 0 auto 14px;
}
.step-item .desc{
    position: relative;
    width: 260px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 500;
    color: #ff3d38;
}
.step-item .numbe{
    float: right;
    line-height: .8;
}
.step-item .text{
    margin-right: 55px;
    font-size: 18px;
    color: #ffffff;
}
.scheme .text-legend{
    position: absolute;
    bottom: 23px;
    font-size: 18px;
    font-weight: 500;
}
.scheme .legend1{
    right: 74px;
}
.scheme .legend2{
    left: 460px;
}
.scheme .legend3{
    left: 98px;
}

.incision{
position: relative;
    margin: 50px 0 0 25px;
}
.incision-img{

}
.text-incision{
    position: absolute;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}
.text-incision.text1{
    left: 125px;
    top: 20px;
}
.text-incision.text2{
    left: 125px;
    top: 126px;
}
.text-incision.text3{
    left: 125px;
    top: 222px;
}
/* end block11 */

/* block12*/
.block12{
    background: url(../img/block12.jpg) no-repeat 50% 0;
}
.block12 .content{
    height: 406px;
}
.question-list{
    margin-top: -7px;
}
.question-list li{
    padding-right: 30px;
    clear: both;
    position: relative;
    margin-bottom: 26px;
}
.question-list img{
    position: absolute;
    top:-33px;
    right: -15px;
}
.question-list li:nth-child(1) img{
     top:-33px;
}
.question-list li:nth-child(2) img{
    top:-19px;
}
.question-list li:nth-child(3) img{
    top:-30px;
}
.question-list .block-text{
    margin-right: 100px;
    padding-top: 10px;
}
.question-title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
.question-text{
    font-weight: 300;
    font-size: 18px;
}
/* end block12 */


/*------------------------------------ block13 */
.block13{
    background: url(../img/block13.jpg) no-repeat 50% 0;
}
.block13 .content{
    height: 549px;
}
.doctor-b13{
    position: absolute;
    bottom:0;
    right: -55px;
    z-index: 2;
}
.quote-b13-name{
    font-weight: 300;
    font-size: 18px;
    margin-right: 342px;
}
.quote-b13-name span{
    display: block;
    font-weight: 400;
    font-size: 24px;
    color: #ff3d38;

}
.quote-b13{
    padding: 20px;
    border: 20px solid rgba(255,255,255,.71);
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    margin-right: 340px;
    position: relative;
    width: 615px;
}
.quote-b13 span{
    display: block;
    position: relative;
    z-index: 2;
}
.quote-b13:after{
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    background: url(../img/triangl.png) no-repeat 0 100%;
    position: absolute;
    top: 15px;
    right: -75px;
}
.quote-b13:before{
    background: rgba(86,86,86,.88);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
/* end block13 */

/*------------------------------------ block13 */
.block14{
    background: url(../img/block14.jpg) no-repeat 50% 0;
}
.block14 .content{
    height: 700px;
}
.reviews-list{
    position: relative;
    overflow: hidden;
    width: 964px;
    margin: -30px auto 0;
}
.reviews-list li{
    float: left;
    width: 225px;
    height: 525px;
    margin: 0 8px;
    background: #4c0f17;
    background: rgba(76, 15, 23, 0.5);
    background: -moz-linear-gradient(top, #fff 40%, #d7d7d7);
    background: -webkit-gradient(linear, left top, left bottom, #fff 40%, #d7d7d7);
    background: -o-linear-gradient(top, #fff 40%, #d7d7d7);
    background: -ms-linear-gradient(top, #fff 40%, #d7d7d7);

    background: linear-gradient(to bottom, transparent, #4c0f17);
}
.review-img{
    margin: 18px 0 10px;
    height: 169px;
    position: relative;
    overflow: hidden;
}
.review-img img{
    display: block;
    margin: 0 auto;
}
.review-name{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.review-line{
    display: block;
    margin: 5px auto;
}
.review-text{
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding: 0 15px;
}
/* end block14 */

/*---------------------------------------- block15 */
.block15{
    background: url(../img/block15.jpg) repeat 50% 0;
    background-size: cover; 
}
.block15 .content{
    height: 673px;
    height: 1010px;
}
.block15 .logo-bottom{
    position: relative;
    top: 28px;
    left: -50px;
}
.block15 .subtitle{
    position: relative;
    background: url(../img/fon-title-b15.png) no-repeat 0 0;
    width: 658px;
    height: 113px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin: 47px -13px 0 -42px;
    padding-top: 34px;
    z-index: 2;
}
.prod3{
    float: right;
    margin-top: -65px;
}
.counter.counter-b15 {
    position: absolute;
    left: 10px;
    top: 0;
    margin: 0;
}
.block15 .price{
    float: right;
    margin: -25px 100px 0 0;
}
#request-form{
    display: block;
    width: 360px;
    margin-top: 25px;
    margin-right: 79px;
    float: right;
}
.cntr {
    position: relative;
}
.form-group:nth-of-type(1)::before {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: 29px;
    border-style: solid;
    border-width: 9px 6px 0 6px;
    border-color: white transparent transparent transparent;
}
.form-group{
    margin-bottom: 25px;
    position: relative;
}
select, input[type=number], input[type=text]{
    display: block;
    width: 342px;
    height: 62px;
    padding-right: 25px;
    margin: 0 auto;
    outline: none;
    border: 3px solid #ffffff;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: transparent;
  	font-family: inherit;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {
    display: none;
}
::-webkit-input-placeholder {color:#ffffff; opacity: 1;}
::-moz-placeholder          {color:#ffffff; opacity: 1;}
:-moz-placeholder           {color:#ffffff; opacity: 1;}
:-ms-input-placeholder      {color:#ffffff; opacity: 1;}
#request-form .btn{
    top: 0;
    left: 0;
    border: none;
    margin: 0 auto;
  font-family: inherit;
}
/* end block15 */
option {
    color: #000;
        direction: ltr;
}

